<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>info</title>
    <style>
    {% load static %}
        body{
      background-image: url("{% static 'mainer/img/info.jpg' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
    </style>
</head>
<body>
    {% for el in info %}
    <div  class="p-3= mb-2 bg-dark text-white text-center">

             <br> <h3>{{ el.name }}</h3> <br>
                    <h3>{{ el.surname }}</h3><br>
                    <h3>{{ el.phone_num }}</h3><br>
                    <h3>{{ el.email }}</h3><br>
                    <h3>{{ el.password }}</h3><br>
                    <h3>{{ el.genre }}</h3><br>
       <a href="{% url 'info-detail' el.id %} "><button class="btn btn-warning">Жаңалықты өзгерту</button></a><br><br>
    </div>
    {% endfor %}
        <a href="{% url 'insert' %}" style="margin-left:1400px" ><button >Жаңалық енгізу</button>
</body>
</html>
